.hidden
{
	display: none;
}

audio
{
	display: none;
}

body
{
	width: 1280px;
	margin: 0 auto;
	background-color: #bebebe;
	font-family: 'arial', sans-serif;
	background-image: url(../images/music-mixer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 989px;
	
}

header
{
	margin: 0 auto;
	background-color: #262626;
	height: 100px;
	width: 1000px;
	padding-top: 10px;
}

header h2
{
	font-size: 40px;
	text-align: center;
	color: white;
}

header h3
{
	font-size: 25px;
	text-align: center;
	color: white;
}


#container
{
	display: flex;
	flex-direction: column;
}

#gridSong
{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, minmax(0,1fr));
	grid-gap: 10px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 100px;
}

.audio-controls
{
	display: block;
	
	height: 50px;
	width: 400px;
	margin: 10px auto;
	background-color: blue;
	margin-top: 125px;
	margin-bottom: 170px;
}

.mixArea
{
	display: inline-block;
	height: 110px;
	width: 110px;
	margin: 10px;
	background-color: grey;
	padding: 5px;
}

#musicTracks 
{
	grid-row: 4;
	margin: 0 auto;
	background-color: #ffffff;
	width: 1100px;
	padding: 20px 0 20px 20px;
	display: grid;
	grid-template-columns: repeat(6, minmax(0,1fr));
	grid-template-rows: 2;
	grid-gap: 10px;
}



.track
{
	height: 100px;
	width: 100px;
}

.wrap
{
	grid-column: 1/1;
}
