.hidden
{
	display: none;
}

audio
{
	display: none;
}

body
{
	width: 1000px;
	margin: 0 auto;
	background-color: #bebebe;
	font-family: 'arial', sans-serif;
}

header
{
	width: 980px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

header h2
{
	font-size: 40px;
	text-align: center;
}

header h3
{
	font-size: 25px;
	text-align: center;
}

#container
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#gridSong
{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, minmax(0,1fr));
	grid-gap: 10px;
	background-color: #ffffff99;
	padding: 20px;
}

.audio-controls
{
	display: block;
	
	height: 50px;
	width: 400px;
	margin: 10px auto;
	background-color: blue;
}

.mixArea
{
	display: inline-block;
	height: 110px;
	width: 110px;
	margin: 10px;
	background-color: grey;
	padding: 5px;
}

#musicTracks 
{
	margin: 0 auto;
	background-color: #ffffff99;
	width: 700px;
	padding: 20px 0 20px 20px;
	display: grid;
	grid-template-columns: repeat(6, minmax(0,1fr));
	grid-template-rows: 2;
	grid-gap: 10px;
}

.track
{
	height: 90px;
	width: 90px;
	background-color: grey;
}

.wrap
{
	grid-column: 1/1;
}
